<div class="row">
    <div class="col-sm-12">
        <div class="content-header">Angular فرم ویزاردی</div>
    </div>
</div>
<section id="ngx">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <aw-wizard #wizard navBarLayout="large-empty-symbols">
                    <aw-wizard-step [stepTitle]="'Steptitle 1'"
                                    [navigationSymbol]="{ symbol: '&#xf007;', fontFamily: 'FontAwesome' }">
                        <form #personalForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">لطفا در مورد خودتان به ما بگویید.</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-12'>
                                    <div class="d-flex">
                                        <div class="justify-content-between">
                                            <label class="lbl-status" for="exampleFormControlSelect1">وضعیت : </label>
                                        </div>
                                        <select [(ngModel)]="dataModel.RecordStatus" name="RecordStatus"
                                                class="form-control" id="exampleFormControlSelect1">
                                            <option *ngFor="let item of dataModelEnumRecordStatusResult.ListItems;"
                                                    value="{{item.Value}}">{{item.Key}}</option>
                                        </select>
                                    </div>
                                    <div class="d-flex mt-4">
                                        <div class="justify-content-between">
                                            <label class="lbl-status" for="exampleFormControlInput1">عنوان : </label>
                                        </div>
                                        <input [(ngModel)]="dataModel.Title" name="Title" type="text"
                                               *ngIf="accessHelper.AccessAddField(   'Title')"
                                               class="form-control" id="exampleFormControlInput1" required="required">
                                        aaa{{accessHelper.AccessAddField(   'Title')}}bb
                                    </div>
                                    <div class="d-flex mt-4">
                                        <div class="justify-content-between">
                                            <label class="lbl-status" for="exampleFormControlTextarea1">توضیحات
                                                : </label>
                                        </div>
                                        <textarea [(ngModel)]="dataModel.Description" name="Description"
                                                  class="form-control" id="exampleFormControlTextarea1"
                                                  rows="3" required="required"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn btn-secondary btn-raised mt-2"
                                                [routerLink]="'/news/content'"> برگشت به صفحه اصلی
                                        </button>
                                        <button type="button" uiSref="work" class="btn btn-info btn-raised mt-2 mr-2"
                                                [disabled]="!personalForm.valid" awNextStep>
                                            بعدی
                                            <span style="margin-left:10px;">
                                              <i class="ft-chevron-left"></i>
                                          </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </aw-wizard-step>
                    <aw-wizard-step [stepTitle]="'Steptitle 2'"
                                    [navigationSymbol]="{ symbol: '&#xf0b1;', fontFamily: 'FontAwesome' }">
                        <form #workForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">چه کار میکنی؟</h4>
                            <br/>
                            <div>
                                <div class="justify-content-between">
                                    <label class="lbl-content" for="exampleFormControlInput1">برچسب : </label>
                                </div>
                                <tag-input [modelAsStrings]="true">
                                </tag-input>
                            </div>
                            <div class="pb-10">
                                <div class="justify-content-between">
                                    <label class="lbl-content" for="exampleFormControlInput1">کلمات کلیدی : </label>
                                </div>
                                <tag-input [modelAsStrings]="true">
                                </tag-input>
                            </div>
                            <div class="d-flex mt-4">
                                <div class="justify-content-between">
                                    <label class="lbl-status">توضیحات : </label>
                                </div>
                                <ckeditor [(ngModel)]="dataModel.Body" name="Body" [editor]="editor" [data]="data"
                                          required></ckeditor>
                            </div>
                            <div class="form-group text-center space-20">
                                <button uiSref="personal" type="button" class="btn btn-raised btn-secondary mr-1 mt-2"
                                        awPreviousStep>
                                  <span style="margin-right:10px;">
                                      <i class="ft-chevron-right"></i>
                                  </span> قبلی
                                </button>
                                <button (click)="onFormSubmit()" uiSref="address" type="submit"
                                        class="btn btn-raised btn-info mt-2"
                                        [disabled]="!workForm.valid">
                                    ذخیره
                                </button>
                            </div>
                            <
                        </form>
                    </aw-wizard-step>
                    <aw-wizard-step [stepTitle]="'Steptitle 3'"
                                    [navigationSymbol]="{ symbol: '&#xf0ac;', fontFamily: 'FontAwesome' }">
                        <form #addressForm="ngForm" class="editForm" novalidate>
                            <h4 class="head text-center">کجا زندگی می کنید؟</h4>
                            <br/>
                            <div class='row'>
                                <div class='col-sm-12'>
                                    <h4 class="mb-10 font-weight-bold text-dark">موقعیت مکانی</h4>
                                    <div class="map-container">
                                        <div class="map-frame">
                                            <div id="map"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </aw-wizard-step>
                </aw-wizard>
            </div>
        </div>
    </div>
</section>
